.newsContaiener{
    width: 240px;
}
.newsHeading{
    font-size: 1.5rem;
    line-height: 1.6rem;
    margin:0.5rem 0 0.25rem  0 ;
    font-family:var(--font-sf);

}
.newImage{
    border-radius: 0.5rem;
}
.newsDescription{
    max-width: 100%;
    margin: 0;
}
.date{
    font-size: 14px;
    color: #7e7e7e;
}

//container 

.newsList{
    display: flex;
    width: 100%;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}


//link
.link{
    color: #212121;
    text-decoration: none;
}