.newsContaiener{
    width: 240px;
}
.newsHeading{
    font-size: 1.5rem;
    line-height: 1.6rem;
    margin:0.5rem 0 0.25rem  0 ;
}
.newsDescription{
    max-width: 100%;
    margin: 0;
}
.date{
    font-size: 14px;
    color: #b8b8b8;
}