.mainContainer{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}
.mainImg{
    border-radius: 1rem;
    width: 100%;
}
.container{
    width: fit-content;
}
.date{
    font-size: 14px;
    color: #7e7e7e;
}
.paragraph{
    margin: 0;
    max-width: 70%;
}